h1, h2, h3 , h4, h5, h6 {
    text-align: center;
}
header {
    display: grid;
    /* grid-column-start: 1; */
    /* grid-row-start: 2; */
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid #EDF7E1;
}

body {    
    background-color: #000000;
}
main {
    display: grid;
    /* grid-template-columns: auto 200px auto; */
    /* grid-template-rows: 5% 90% 5%; */
    color: white;
    margin-left: 1%;
    margin-right: 1%;
}
#vue_app {
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
}


/* CANVAS HERE */
/* flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* grid: https://css-tricks.com/snippets/css/complete-guide-grid/ */
canvas {
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(112, 230, 2);
    width: 900px;
    height: 900px;
    margin: 1%;
    max-width: 45%;
}


/* RIGHT LOGS HERE */
#div_right_logs {
    /* grid-column-start: 3; */
    /* grid-row-start: 2; */
    display: grid;
    margin: 1%;
    color: white;
    background-color: brown;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}
#mouse_position {
    text-align: center;
    font-size: 50px;
}
#last_keypress {
    font-size: 50px;
    text-align: center;
}
#keyboard_logs{
    background-color: black;
    font-size: 20px;
    font-weight: bolder;
}
:fullscreen {
    background-color: violet;
}
:-webkit-full-screen {
    background-color: violet;
}
:-ms-fullscreen {
    background-color: violet;
}


li, ol {
    font-size: 15px;
}
/* footer {
    text-align: center;
    border-bottom: 5px solid #EDF7E1;
    margin-bottom: 15%;
} */
form {
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    /* padding: 10px; */
    /* border: 5px dashed red; */
    max-width: 90%;
}
/* BUTTONS */
input { 
    background-color: #379683;
    color: rgb(0, 0, 0);
}

@media (min-width: 700px) {  
}
@media (min-width: 1000px) {   
    #div_left_canvas {
        /* max-width: 45%; */
    }
    #div_right_logs {
        /* width: 800px; */
        /* height: 800px; */
        /* max-width: 45%; */
    }
}
