h1, h2, h3 , h4, h5, h6 {
    text-align: center;
}
header {
    display: grid;
    /* grid-column-start: 1; */
    /* grid-row-start: 2; */
    justify-content: center;
    text-align: center;
    /* border-bottom: 5px solid #EDF7E1; */
}
body {    
    background-color: #000000;
}
main {
    display: grid;
    /* grid-template-columns: auto 200px auto; */
    /* grid-template-rows: 5% 90% 5%; */
    color: white;
    /* margin-left: 1%; */
    /* margin-right: 1%; */
}

/* flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* grid: https://css-tricks.com/snippets/css/complete-guide-grid/ */
#vue_app {
    display: flex;
    border: 1px solid white;
    border-radius: 2px;
    margin: 1%;
}
#canvas_main {  /* MAIN CANVAS HERE */
    background-color: rgb(146, 2, 230);
    width: 1300px;
    height: 1000px;
    margin: 1%;
    border: 2x solid white;
    border-radius: 10px;
}

/* RIGHT LOGS HERE */
#div_right_logs {
    /* grid-column-start: 3; */
    /* grid-row-start: 2; */
    display: grid;
    border: 3px dashed white;
    border-radius: 10px;
    margin: 1%;
    color: white;
    width: 400px;
    height: 1000px;
}
#canvas_tree {
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 25px;
}
#mouse_position {
    text-align: center;
    font-size: 40px;
}
#last_keypress {
    font-size: 40px;
    text-align: center;
}
#keyboard_logs{
    background-color: black;
    font-size: 15px;
}
:fullscreen {
    background-color: violet;
}
:-webkit-full-screen {
    background-color: violet;
}
:-ms-fullscreen {
    background-color: violet;
}


li, ol {
    font-size: 15px;
}
footer {
    border: 1px dashed grey;
    margin: 1%;
}
form {
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    /* padding: 10px; */
    /* border: 5px dashed red; */
    max-width: 90%;
}
/* BUTTONS */
/* https://www.w3schools.com/csS/css3_buttons.asp */
/* Use display:block instead of float:left to group the buttons below each other, instead of side by side: */
#button_area {
    display: flex;    
    flex-direction: column;
    margin-top: 100px;
    width: 100px;
    height: 900px;
}
button { 
    color: rgb(0, 0, 0);
    width: 75px;
    height: 75px;
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 40%;
}

@media (min-width: 700px) {  
}
@media (min-width: 1000px) {   
    #div_left_canvas {
        /* max-width: 45%; */
    }
    #div_right_logs {
        /* width: 800px; */
        /* height: 800px; */
        /* max-width: 45%; */
    }
}
