<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  

  <!-- 1. VUE: -->
    <!-- NEWEST development version, includes helpful console warnings,
    For prototyping or learning purposes, you can use the latest version with:  -->
                                                                                                                              <!-- VUE: DIS-ABLE FOR PRODUCTION!   -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    
    <!-- or: -->
    <!-- For production, we recommend linking to a specific version number and build
      to avoid unexpected breakage from newer versions. Also optimized for size and speed. 
      https://www.cdnpkg.com/vue -->
                                                                                                                              <!-- VUE: ENABLE FOR PRODUCTION!  -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js" integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script> -->

  <!-- 2. Konva, which has a Vue-version!  https://konvajs.org/docs/vue/index.html  -->
                                                                                                                             <!-- Konva Newest: DIS-ABLE FOR PRODUCTION!  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/konva@7/lib/index.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/konva/7.0.3/konva.min.js"></script>
                                                                                                                             <!-- Konva: ENABLE FOR PRODUCTION!  -->                                                                                                                             
  <!-- <script src="https://cdn.jsdelivr.net/npm/konva@7/lib/index.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/konva@7.2.2/lib/index.min.js"></script> -->

  <!-- 3. General Normalize CSS, Fonts: -->
  <link rel="stylesheet" href="{% static 'css/github_necolas_normalize.css'%}">  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap"> 
  
  <!-- 4. My Main CSS and VUE/Canvas App: -->
  <link rel="stylesheet" href="{% static 'css/main.css'%}">
  <script src="{% static 'js/vue_main.js'%}" defer></script>  



  <title>
    {% block title %}
    Childhood Canvas
    {% endblock %}

  </title>
</head>

<body>
    {% block content %}
    {% endblock %}

</body>
</html>