{% extends 'base.html' %}

{% load static %}
  {% block title %}Homepage {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <header>
    <p>
      User: <strong> {{ user.username }} </strong> | 
        <a href="{% url 'logout' %}">Log Out</a>
      </p>

    {% else %}
    <p>
      User: <strong> Guest </strong> |
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    </p>
  </header>

  {% endif %}
  
  <div id='vue_app'>
    
      <!-- https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Basic_usage -->
      <canvas
        width="1300"
        height="1000"
        id='canvas' 
        @mousemove="draw" 
        @mousedown="start_drawing" 
        @mouseup="stop_drawing"
      >
      </canvas>
      <!-- </div> -->

    <div id="div_right_logs">
    
      <div>
        {% comment %}
            Verbatim tag in Django lets me ignore using custom delimeters for Vue vs. Django., see https://vsupalov.com/vue-js-delimiters-django/
        {% endcomment %}
      {% verbatim %}
          <h1 id="mouse_position"> Position: {{ x }}, {{ y }} </h1>
      {% endverbatim %}
        <p id="last_keypress">
        </p>
      <div>
        <p>Full keypress log:</p>
        <p id="keyboard_logs"></p>
      </div>
    </div>


  </div>

{% endblock %}